@use '../base/mixins' as m;
@use '../base/variables' as v;

.inicio {
    background-image: linear-gradient(to right, v.$verde, v.$amarillo);
    color: v.$blanco;
    text-align: center;
    padding: 4rem 2rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    @include m.grid(2, 5rem);
    place-items: center;
    
    &-contenedor {
        width: 100%;
        max-width: 120rem;
        margin: 0 auto;
        @include m.tablet {
            
            //display: grid;
            //grid-template-columns: repeat(2, 1fr);
            //gap: 5rem;
        }
    }

    &-imagen {
        width: 100px;
        height: 100px;
        background-image: url("../imagenes/PsPwhEYK_400x400.webp");
        background-size: cover;
        border-radius: 50%;
    }
    @include m.tablet {
        padding: 6rem 2rem;
    }
}

