@use '../base/mixins' as m;
@use '../base/variables' as v;

.proyectos {
    @include m.grid(3, 5rem);
    text-align: center;
}


.imagen-proyecto {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    
    &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }

    border-radius: 1rem;
    &-compilador {
        background-image: url("../imagenes/compilador.webp");
    }
    &-python {
        background-image: url("../imagenes/python.webp");
    }
    &-servidor {
        background-image: url("../imagenes/cisco.webp");
    }
}