@use '../base/mixins' as m;
@use '../base/variables' as v;

.sobremi {
    background-image: linear-gradient(to right, v.$verde, v.$amarillo);
    color: v.$blanco;
    text-align: center;
    padding: 4rem 2rem;
    @include m.tablet {
        padding: 6rem 2rem;
    }
    
    &-imagen {
        width: 100px;
        height: 100px;
        background-image: url("../imagenes/banner.webp");
        align-items: center;
        background-size: cover;
    }

    &-gif{
       width: 100%;
       max-width: 30rem;
       height: 20rem; 
       background-image: url("../imagenes/tux.gif");
       background-size: contain;
       background-repeat: no-repeat;
       background-position: center;
    }
}